html {
  height: 100%;
}

body {
  height: 100%;
  color: #194776;
  font-size: 35px;
  font-family: Montserrat;
  overflow-y: hidden;
}

#logo {
  height: 8vh;
  width: auto;
}

.navbar {
  background-color: #194776;
  height: 10vh;
  padding: 0 40px !important;
}

.navbar-nav {
  justify-content: space-evenly;
  width: 100%;
}

.navbar .navbar-nav .nav-link {
  color: #f5c400;
  position: relative;
}

.nav-item:not(.workshop-item) {
  align-self: center;
}

.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f5c400;
  color: transparent;
  width: 0;
  content: '.';
  height: 3px;
}

.navbar .navbar-nav .nav-link.active::after,
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.nav-icons {
  color: #f5c400;
  vertical-align: middle;
  font-size: 35px !important;
}

.nav-link.active,
.nav-link:hover {
  background-color: unset !important;
  border: 1px solid transparent !important;
}

.nav-link:hover {
  border: 1px solid transparent !important;
}

.nav-tabs {
  border-bottom: none;
}

.nav-contact {
  list-style: none;
}

.contact-item a {
  color: #f5c400;
}

.contact-item .contact-icons {
  color: #f5c400;
  vertical-align: middle;
  font-size: 35px;
}

.contact-item:hover a {
  color: #ffffff;
  text-decoration: none;
}

.contact-item:hover .contact-icons {
  color: #ffffff;
  text-decoration: none;
}

.content-container {
  height: 77.5vh;
}

.tab-content {
  height: 100%;
}

.tab-pane {
  height: 100%;
}

.home-bg {
  background-image: url("assets/home-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.about-bg {
  background-image: url("assets/about-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.workshops-bg {
  background-image: url("assets/workshops-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 100%;
  margin: 0 100px;
}

.roy-image {
  height: 50vh;
  width: auto;
}

.about-paragraphs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
}

.about-paragraph {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  background-color: #194776;
  opacity: 0.85;
  padding: 10px;
}

.additional-services-bg {
  background-image: url("assets/additional-services-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.additional-services-container {
  display: flex;
  padding: 50px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.manual-handling-bg {
  background-image: url("assets/manual-handling-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.axml-bg {
  background-image: url("assets/axml-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.workshop-bg {
  height: 50vh;
  padding-top: 20px;
}

.workshop-title {
  color: #ffffff;
  background-color: #194776;
  opacity: 0.85;
  width: fit-content;
  padding: 10px;
  margin: 20px auto;
}

.workshop-content-container {
  color: #ffffff;
  padding: 0 50px;
  display: flex;
  gap: 100px;
  font-weight: 600;
  align-items: center;
}

.workshop-images {
  display: block;
  width: 15vw;
  height: auto;
  padding-bottom: 25px;
}

.workshop-about-paragraph {
  max-width: 70vw;
  background-color: #194776;
  padding: 10px;
  opacity: 0.85;
}

.workshop-info-container {
  display: flex;
  justify-content: space-evenly;
  height: 27.5vh;
  padding: 20px;
  font-size: 25px;
}

.workshop-info-item:not(:nth-last-child(1)) {
  max-width: 700px;
}

.additional-services-images {
  height: 15vh;
  width: 10vw;
  margin-left: 25px;
}

.additional-services-item-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.additional-services-item {
  max-width: 50%;
  background-color: #194776;
  color: #ffffff;
  opacity: 0.85;
  padding: 10px;
  font-weight: 600;
}

.workshop-menu {
  list-style: none;
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-top: 20px;
}

.workshop-item {
  height: auto;
  border-radius: 50px;
  text-align: center;
  width: 400px;
  background-color: #f5c400;
  box-shadow: 5px 10px;
  cursor: pointer;
}

.workshop-item a {
  color: #194776;
}

.home-text-container {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.home-text {
  width: 50vw;
  line-height: 50px;
  color: #ffffff;
  background-color: #194776;
  opacity: 0.85;
  padding: 10px;
  font-weight: 600;
}

.footer {
  height: 12.5vh;
  background-color: #194776;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.footer ul {
  margin: 0;
}

.footer ul li {
  padding: 8px;
}

.social-media {
  list-style: none;
}

.social-media-item a {
  color: #f5c400;
}

.social-media-item a:hover {
  color: #ffffff;
}
@media only screen and (max-width: 2500px) {
  body {
    font-size: 25px;
  }

  .contact-icons {
    font-size: 25px !important;
  }

  .nav-icons {
    font-size: 25px !important;
  }

  .about-paragraph {
    font-size: 20px;
  }

  .workshop-info-container {
    font-size: 18px;
  }
}