html {
  height: 100%;
}

body {
  height: 100%;
  color: #194776;
  font-size: 25px;
  font-family: Montserrat;
  overflow-y: hidden;
}

#logo {
  height: 75px;
  width: auto;
}

.navbar {
  background-color: #194776;
  height: 10vh;
}

.navbar-nav {
  justify-content: space-around;
  width: 100%;
  margin-left: 25px;
}

.navbar .navbar-nav .nav-link {
  color: #f5c400;
  font-size: 30px;
  position: relative;
}

.nav-item:not(.workshop-item) {
  align-self: center;
}

.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f5c400;
  color: transparent;
  width: 0;
  content: '.';
  height: 3px;
}

.navbar .navbar-nav .nav-link.active::after,
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.nav-icons {
  font-size: 30px !important;
  color: #f5c400;
  vertical-align: middle;
}

.nav-link.active,
.nav-link:hover {
  background-color: unset !important;
  border: 1px solid transparent !important;
}

.nav-link:hover {
  border: 1px solid transparent !important;
}

.nav-tabs {
  border-bottom: none;
}

.nav-contact {
  list-style: none;
}

.contact-item {
  padding-top: 8px;
  font-size: 30px;
}

.contact-item a {
  color: #f5c400;
}

.contact-item .contact-icons {
  font-size: 30px !important;
  color: #f5c400;
  vertical-align: middle;
}

.contact-item:hover {
  text-decoration: underline;
}

.content-container {
  height: 70vh;
}

.tab-content {
  height: 100%;
}

.tab-pane {
  height: 100%;
}

.home-bg {
  background-image: url("assets/home-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.about-bg {
  background-image: url("assets/about-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.workshops-bg {
  background-image: url("assets/workshops-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 100%;
  margin: 0 100px;
}

.roy-image {
  height: 50vh;
  width: auto;
}

.about-container p {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
}

.additional-services-bg {
  background-image: url("assets/additional-services-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.manual-handling-bg {
  background-image: url("assets/manual-handling-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.axml-bg {
  background-image: url("assets/axml-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.workshop-bg {
  height: 50vh;
}

.workshop-title {
  color: #ffffff;
  background-color: #194776;
  width: fit-content;
  padding: 0 10px;
}

.workshop-content-container {
  color: #ffffff;
  padding: 0 50px;
  display: flex;
  gap: 100px;
  font-size: 40px;
  font-weight: 600;
  align-items: center;
}

.workshop-images {
  display: block;
  height: 250px;
  width: auto;
  padding-bottom: 25px;
}

.workshop-about-paragraph {
  background-color: #194776;
  padding: 10px;
}

.workshop-info-container {
  display: flex;
  gap: 100px;
  border-bottom: 1px solid #000000;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.workshop-info-item p {
  max-width: 500px;
}

.additional-services-images {
  height: 15vh;
  width: 10vw;
  margin-left: 25px;
}

.additional-services-item-container {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-top: 50px;
}

.additional-services-item {
  max-width: 50%;
  font-size: 30px;
}

.workshop-menu {
  list-style: none;
  margin: auto;
  width: fit-content;
  padding-top: 200px;
}

.workshop-item {
  height: auto;
  border-radius: 50px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px !important;
  background-color: #f5c400;
  box-shadow: 5px 10px;
  cursor: pointer;
}

.workshop-item a {
  color: #194776;
}

.home-text-container {
  height: 100%;
  align-items: center;
  display: flex;
  margin-left: 100px;
}

.home-text {
  width: 40vw;
  line-height: 50px;
  color: #194776;
  font-weight: 600;
  font-size: 40px;
}

.mission {
  height: 12.5vh;
}

.mission-content {
  height: 65vh;
  width: 60%;
  color: #194776;
  text-align: left;
  margin: auto;
}

.footer {
  height: 7.5vh;
  background-color: #194776;
  display: flex;
  justify-content: center;
}

.mission-title {
  padding-top: 8px;
  color: #194776;
  font-weight: 1000;
  font-size: 35px;
}

.mission-info {
  font-style: italic;
}

.social-media {
  list-style: none;
  margin: auto;
}

.social-media-item {
  float: left;
  padding-right: 50px;
}

.social-media-item a {
  color: #f5c400;
  font-size: 35px;
}

.social-media-item a:hover {
  color: #ffffff;
}