html {
  height: 100%;
}

body {
  height: 100%;
  color: #194776;
  font-size: 25px;
  font-family: Montserrat;
}

#logo {
  height: 100%;
  width: auto;
}

.navbar {
  background-color: #194776;
  height: 10%;
}

.navbar-nav {
  justify-content: center;
  width: 100%;
}

.navbar .navbar-nav .nav-link {
  color: #f5c400;
  font-size: 30px;
  position: relative;
}

.nav-item {
  align-self: center;
  padding-right: 100px;
}

.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f5c400;
  color: transparent;
  width: 0;
  content: '.';
  height: 3px;
}

.navbar .navbar-nav .nav-link.active::after,
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.nav-icons {
  font-size: 30px !important;
  color: #f5c400;
  vertical-align: middle;
}

.nav-link.active,
.nav-link:hover {
  background-color: unset !important;
  border: 1px solid transparent !important;
}

.nav-link:hover {
  border: 1px solid transparent !important;
}

.nav-tabs {
  border-bottom: none;
}

.nav-contact {
  list-style: none;
}

.contact-item {
  padding-top: 8px;
  font-size: 30px;
}

.contact-item a {
  color: #f5c400;
}

.contact-item .contact-icons {
  font-size: 30px !important;
  color: #f5c400;
  vertical-align: middle;
}

.contact-item:hover {
  text-decoration: underline;
}

.content-container {
  height: 70%;
}

.tab-content {
  height: 100%;
}

.tab-pane {
  height: 100%;
}

.home-bg {
  background-image: url("assets/home-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.about-bg {
  background-image: url("assets/about-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 100%;
  margin: 0 100px;
}

.roy-image {
  height: 750px;
  width: auto;
}

.about-container p {
  margin-bottom: 50px;
  font-size: 30px;
  color: #ffffff;
}

.additional-services-bg {
  background-image: url("assets/additional-services-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.additional-services-images {
  height: 250px;
  width: 300px;
  margin-left: 25px;
}

.additional-services-item-container {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-top: 50px;
}

.additional-services-item {
  max-width: 50%;
  font-size: 30px;
}

.home-text {
  width: 38%;
  line-height: 50px;
  color: #194776;
  font-weight: 400;
  font-size: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  text-align: center;
}

.footer-content {
  height: 65%;
  font-size: 30px;
  width: 60%;
  color: #194776;
  text-align: left;
  margin: auto;
}

.footer-end {
  height: 35%;
  background-color: #194776;
  display: flex;
  justify-content: center;
}

.mission-title {
  padding-top: 20px;
  color: #194776;
  font-weight: 1000;
  font-size: 35px;
}

.mission-content {
  font-style: italic;
}

.social-media {
  list-style: none;
  margin: auto;
}

.social-media-item {
  float: left;
  padding-right: 50px;
}

.social-media-item a {
  color: #f5c400;
  font-size: 35px;
}

.social-media-item a:hover {
  color: #ffffff;
}